body{
    font-family:'Segoe UI';
}

h1{
    text-align: center;
}
.create_event_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    height: 100%;
    border: 2px solid red;
}
input, label , textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.create_event_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_data{
    display: none;
}

#status_message{
    border: 2px solid black;
    display: none;
    text-align: center;
    
}

.chat_box{
    border: 2px solid black;
}

.events{
    border: 2px solid black;
}